<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<form action="#" th:action="@{/customerpage/addcustomer}" th:object="${customerReqDTO}" method="post">
    <!-- th:object="${유저}" 의 유저는 UserController 의 UserReqDTO 클래스이다. (변수아님) -->
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>
    <input type="submit" value="Add Customer">
</form>
</body>
</html>